.custom-btn{
    background-color: #E7FE29;
    padding: 12px 20px;
    border-radius: 10px;
    font-weight: 600;
}
.custom-2{
    border: 2px solid gray;
    padding: 10px 20px;
    border-radius: 10px;
}
.add-players-btn{
    background-color: #E7FE29;
    padding: 12px 20px;
    border-radius: 10px;
    font-weight: 600;
}